@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/app/index.module.css */
/* .container {
  padding: 20px;
}

.carouselContainer {
  margin-top: 20px;
}

.mobileContainer {
  text-align: center;
  padding: 10px;
} */
 .testimonial-carousel {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.testimonial-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.testimonial-image img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.testimonial-content h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.testimonial-content h4 {
  font-size: 1.2rem;
  color: #666;
}

.testimonial-content p {
  font-size: 1rem;
  max-width: 400px;
}

